/**
 * @file
 * Styling for HFCC Courses Project.
 */

/** Page **/

aside#sidebar-second {
  font-size: small;
}

/** Block **/

div.workbench-info-block {
  background: #DFD;
  border-color: #ACA;
}

.workbench-info-block .label {
  font-weight: bold;
}

/** Views **/

/** Node **/

.node-type-course-master #content-inner {
  padding: 0 0.625em;
}

.field ol {
  list-style-position: outside;
  margin-left: 2.441em;
}

/* Styling for HFCC Course Masters and Programs */

.field-name-field-crs-div .field-label,
.field-name-field-crs-dept .field-label,
.field-name-field-crs-subj .field-label,
.field-name-field-crs-num .field-label,
.field-name-field-crs-title .field-label,
.field-name-field-crs-xref .field-label,
.field-name-field-crs-xref-id .field-label,
.field-name-field-crs-credit-hours .field-label,
.field-name-field-crs-contact-hours .field-label,
.field-name-field-crs-instructor-hours .field-label,
.field-name-field-crs-student-hours .field-label,
.field-name-field-crs-prq .field-label,
.field-name-field-crs-crq .field-label,
.field-name-field-crs-grading .field-label,
.field-name-field-crs-prior-learning .field-label,
.field-name-field-crs-macrao .field-label,
.field-name-field-crs-mta .field-label,
.field-name-field-crs-effective .field-label,
.field-name-field-crs-deactivation-date .field-label,
.field-name-field-crs-div-approval .field-label,
.field-name-field-crs-ac-approval .field-label,
.field-name-field-crs-cc-approval .field-label,
.field-name-field-program-inactive .field-label,
.field-name-field-program-legacy-id .field-label,
.field-name-field-program-code .field-label,
.field-name-field-program-short-title .field-label,
.field-name-field-program-type .field-label,
.field-name-field-program-year .field-label,
.field-name-field-program-office-contact .field-label,
.field-name-field-program-contacts .field-label,
.field-name-field-14-day-phone .field-label
{
  width: 30em;
}

/* Undo the previous for catalog helper page. */

#hfcc-catalog-helper-ccform .field-label,
#hfcc-catalog-helper-cmform .field-label,
#hfcc-catalog-helper-hank-form .field-label {
  width: auto;
}

.field-name-field-crs-prior-learning {
  border-top: 1px solid #ddd;
  padding: 1em 0 0;
}

.field-items li {
  margin-left: 1em;
}

.cmaster-info {
  font-size: 11px;
  font-style: italic;
  margin-left: 1em;
}

.node-type-program fieldset > legend {
  color: #444;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 1.2em;
  padding: 0;
}
/** General **/

.more-link {
  text-align: inherit;
}

/** Should go in base theme **/

.add-margin-bottom { margin-bottom: 1.625em; }
.remove-margin-bottom { margin-bottom: 0; }

@media only screen and (min-width: 768px) {

  #highlighted,
  ul#main-menu,
  #billboard,
  #section-main,
  .header-container,
  .region-navigation,
  .region-fatfooter,
  .region-footer {
    margin: 0 auto;
    width: 98%;
  }

}

@media only screen and (min-width: 960px) {

  #highlighted,
  ul#main-menu,
  #billboard,
  #section-main,
  .header-container,
  .region-navigation,
  .region-fatfooter,
  .region-footer {
    max-width: 1600px;
  }

}
